<form [formGroup]="converterForm">
    <div>
        <mat-form-field>
            <mat-label for="amount">Amount</mat-label>
            <input type="number" formControlName="amount" id="amount" min="1" matInput />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label for="currencyFrom">From:</mat-label>
            <mat-select formControlName="currencyFrom" id="currencyFrom">
                @for (option of currencyArray; track $index) {
                <mat-option value="{{option.short_code}}">{{option.short_code}} - {{option.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="currencyTo">To:</mat-label>
            <mat-select formControlName="currencyTo" id="currencyTo">
                @for (option of currencyArray; track $index) {
                <mat-option value="{{option.short_code}}">{{option.short_code}} - {{option.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>


    <button mat-stroked-button type="submit" (click)="convert()">Convert currency</button>
</form>

@if(convertedAmount > 0){
<div>{{convertedAmount | currency: convertedCurrency: 'symbol' }}</div>
}